{{ember-load-remover}}
<div class="ui form">
	<div class="field">
		<label for="">Username</label>
		{{input value=this.username placeholder="Enter username..."}}
	</div>
	{{#if this.showPassword}}
	  <div class="field">
	  	<label for="">Password</label>
	  	{{input value=this.password type="text" placeholder="Enter password"}}
	  </div>
	{{else}}
	  <div class="field">
	  	<label for="">Password</label>
	  	{{input value=this.password type="password" placeholder="Enter password"}}
	  </div>
	{{/if}}
	<div class="ui toggle checkbox">
		{{input type="checkbox" checked=this.showPassword name="public" }}
		<label>Show password</label>
	</div>
	<br><br>
  {{#if loader}}
    <div class="ui active inline loader"></div>
  {{else}}
	  <div class="ui basic circular animated fade secondary button" tabindex="0" {{action "authenticate"}}>
	  	<div class="visible content">Login</div>
	  	<div class="hidden content">
	  		<i class="key icon"></i>
	  	</div>
	  </div>
  {{/if}}
</div>