{{ember-load-remover}}
<div class="ui form">
	<div class="required field">
		<label for="">Name</label>
		{{input value=this.model.name placeholder="Enter name..."}}
	</div>
	<div class="required field">
		<label for="">Username</label>
		{{input value=this.model.username placeholder="Enter username..."}}
	</div>
	{{#if this.showPassword}}
	  <div class="required field">
	  	<label for="">Password</label>
	  	{{input value=this.model.password type="text" placeholder="Enter password"}}
	  </div>
	{{else}}
		<div class="required field">
			<label for="">Password</label>
			{{input value=this.model.password type="password" placeholder="Enter password"}}
		</div>
	{{/if}}
	<div class="ui toggle checkbox">
		{{input type="checkbox" checked=this.showPassword name="public" }}
		<label>Show password</label>
	</div>
	<br><br>
	<div class="ui basic circular animated fade secondary button" tabindex="0" {{action "register"}}>
		<div class="visible content">Register</div>
		<div class="hidden content">
			<i class="save icon"></i>	
		</div>
	</div>
</div>